 <!-- Bu kod navbar kodudur. Direkt olarak internetten aldık.  -->

  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #75727cd5;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Baver Blog</a>
  
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Me</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/articles">Articles</a>
      </li>
      
    </ul>

    <ul class="navbar-nav ml-auto">
    {% if request.user.is_authenticated %}
    <li class="nav-item active">
      <a class="nav-link" href="/articles/dashboard">Dashboard</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/user/logout">Logout</a>
    </li>
    {% else %}

    <li class="nav-item active">
      <a class="nav-link" href="/user/login">Login</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/user/register">Sign Up</a>
    </li>
    
    {% endif %}
    
    </ul>
  </div>


</nav>