<!-- Bu klasörde de lay.html sayfasından kalıtım yaptık. Block kısmını değiştirdik.-->

{% extends 'lay.html' %}
{% block body %}
<h3>   About Me     </h3>
<hr>
    Hi, i am Baver Kaçar. I am sophomare Computer Science student at Hacettepe University. However, before my education at Hacettepe, I studied dentistry for 2 years. But I didn't like it. So I changed my department and started working to become a computer engineer. If you want to meet me in more detail, you can contact me from the links below.
<hr>
<br/>

<a href="https://www.linkedin.com/in/baver-ka%C3%A7ar-b14460187/">
  <img style="margin-right: 50px;" align="left" alt="baver-kaçar-b14460187 | LinkedIn" width="50px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />
</a>
<a href="https://github.com/baverkacar">
    
  <img style="margin-right: 50px;" align="left" alt="baverkcr | Twitter" width="50px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg"/>
</a>

<a href="https://www.hackerrank.com/baverkacar">
  <img style="margin-right: 50px;" align="left" alt="baverkacar | Hackerrank" width="50px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/hackerrank.svg"  />
  
</a> 

<br/>

{% endblock body %}
